<title>{{equipo.nombre}}</title>

<div class='w-50 m-auto d-flex flex-column'>
  <img
    id='escudo-grande'
    src='{{equipo.imagen}}'
    alt='Escudo de {{equipo.nombre}}'
    class='w-25'
  />
  <h1 id='titulo-equipo' class='text-center'>{{equipo.nombre}}</h1>
  <table class='table table-bordered border-dark w-75 m-auto'>
    <tbody>
      <thead>
        <th>Información</th>
        <th>Valor</th>
      </thead>
      <tr>
        <td>Nombre</td>
        <td>{{equipo.nombre}}</td>
      </tr>
      <tr>
        <td>Fundación</td>
        <td>{{equipo.fundacion}}</td>
      </tr>
      <tr>
        <td>Estadio</td>
        <td>{{equipo.estadio}}</td>
      </tr>
      <tr>
        <td>Dirección</td>
        <td>{{equipo.direccion}}</td>
      </tr>
    </tbody>
  </table>
  <div
    id='contenedor-botones-equipo'
    class='d-flex justify-content-center gap-3'
  >
    <a
      href='/equipo/{{equipo.id}}/editar'
      type='button'
      class='btn btn-primary boton'
    >Editar</a>
    <a
      href='/equipo/{{equipo.id}}/eliminar'
      type='button'
      class='btn btn-danger boton'
    >Eliminar</a>
  </div>
</div>